#loadinit {
  z-index: 1000;
}

#logo {
  /* width: 40px;
  height: 40px;
  border: 4px solid #fcd779;
  border-top: 4px solid white;
  border-radius: 50%; */

  color: #fff;
}

#logo,
#svg-spinner {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.5s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform: scale(0.5);
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: scale(0.5);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: scale(1.5);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: scale(0.5);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: scale(1.5);
  }
}

#message {
  font-size: 22px;
  font-weight: bolder;
}
